//- index.jade
extends ./layout.jade

block content
  div.container-fluid(ng-controller='StatsCtrl')
    div.row(ng-cloak)
      div.col-xs-2.stat-holder
        div.big-info.bestblock.text-info
          div.pull-left.icon-full-width
            i.icon-gasprice
          div.big-details-holder
            span.small-title Ticket price
              span.small 
            span.big-details {{ (bestStats.block.sbits).toString().substr(0,5) }} DCR
          div.clearfix
      div.col-xs-2.stat-holder
        div.big-info.uncleCount(class="{{ bestStats.block.voters | votersClass }}")
          div.pull-left.icon-full-width
              i.icon-clock
          div.big-details-holder
            span.small-title Price adjusts in 
              span.small 
            span.big-details {{144 - bestStats.block.height % 144}} blocks
          div.clearfix
      div.col-xs-2.stat-holder
        div.big-info.blocktime(class="{{ lastBlock | timeClass : true }}")
          div.pull-left.icon-full-width
            i.icon-time
          div.big-details-holder
            span.small-title last block
            span.big-details {{ lastBlock | blockTimeFilter }}
            //- span.big-details(time-ago="lastBlock")
          div.clearfix
      div.col-xs-2.stat-holder
        div.big-info.avgblocktime(class="{{ avgBlockTime | avgTimeClass }}")
          div.pull-left.icon-full-width
            i.icon-gas
          div.big-details-holder
            span.small-title avg block time
            span.big-details {{ avgBlockTime | avgTimeFilter }}
          div.clearfix

      div.clearfix


    div.row(ng-cloak)
      div.col-xs-12.stats-boxes(style="padding-top: 0px;")
        div.row.second-row
          div.col-xs-2.stat-holder.box
            div.gasprice.text-info
              i.icon-gasprice
              span.small-title Poolsize
              span.small-value {{ bestStats.block.poolsize }} tickets
          div.col-xs-2.stat-holder.box
            div.gasprice.text-info
              i.icon-block
              span.small-title best block
              span.small-value {{'#'}}{{ bestBlock | number}}
          div.col-xs-2.stat-holder.box
            div.active-nodes(class="text-success")
              i.icon-difficulty
              span.small-title difficulty
              span.small-value {{ lastDifficulty | totalDifficultyFilter }}
          div.col-xs-2.stat-holder.box
            div.page-latency(class="{{ {active: true, latency: latency} | latencyClass }}")
              i.icon-clock
              span.small-title page latency
              span.small-value {{latency}} ms


        div.row.second-row

          div.col-xs-2.stat-holder.box
            div.difficulty.text-info
              i.icon-uncle
              span.small-title Mempool
              span.small-value {{pooledtx}}
          div.col-xs-2.stat-holder.box
            div.difficulty.text-info
              i.icon-group
              span.small-title voters&nbsp;
              span.small-value {{ bestStats.block.voters }}
          div.col-xs-2.stat-holder.box
            div.active-nodes(class="text-success")
              i.icon-hashrate
              span.small-title avg hashrate
              span.small-value(ng-bind-html="avgHashrate | networkHashrateFilter")
          div.col-xs-2.stat-holder.box


        div.row
          div.col-xs-8
            div.row
              div.col-xs-3.stat-holder
                div.big-info.chart.text-info
                  span.small-title freshstake
                  sparkchart.big-details.spark-difficulty(data="{{freshstakeChart.join(',')}}")

              div.col-xs-3.stat-holder
                div.big-info.chart.text-info
                  span.small-title voters
                  sparkchart.big-details.spark-voters(data="{{votersChart.join(',')}}")

              div.col-xs-3.stat-holder
                div.big-info.chart(class="{{ avgBlockTime | avgTimeClass }}")
                  //- i.icon-time
                  span.small-title block time
                  //- span.small-value {{ avgBlockTime | avgTimeFilter }}
                  sparkchart.big-details.spark-blocktimes(data="{{lastBlocksTime.join(',')}}", tooltipsuffix="s")

              div.col-xs-3.stat-holder
                div.big-info.chart.text-info
                  span.small-title transactions
                  sparkchart.big-details.spark-transactions(data="{{transactionDensity.join(',')}}")

              div.col-xs-3.stat-holder
                div.big-info.bottom-stats.text-success
                  div.pull-left.icon-full-width
                    i.decred-font-logo(style="margin: 0;") A
                  div.big-details-holder
                    span.small-title block reward
                    span.big-details(style="font-size: 40px; line-height: 45px;letter-spacing: -3px;white-space: nowrap;") {{blockReward.toString().substr(0,5)}} 
                      span.smaller-text &nbsp;DCR

              div.col-xs-3.stat-holder
                div.big-info.bottom-stats.text-success
                  div.pull-left.icon-full-width
                    i.icon-clock
                  div.big-details-holder
                    span.small-title reward adjustment in
                    span.big-details(style="font-size: 40px; line-height: 45px;letter-spacing: -3px;white-space: nowrap;") {{6144 - bestStats.block.height % 6144}} 
                      span.smaller-text &nbsp;blocks

              div.col-xs-3.stat-holder
                div.big-info.bottom-stats.text-success
                  div.pull-left.icon-full-width
                    i.icon-network
                  div.big-details-holder
                    span.small-title available supply
                    span.big-details(style="font-size: 38px; line-height: 45px;letter-spacing: -3px;white-space: nowrap;") {{ supply }}
                      span.smaller-text &nbsp;DCR

              div.col-xs-3.stat-holder
                div.big-info.bottom-stats.text-success
                  div.pull-left.icon-full-width
                    i.icon-mining
                  div.big-details-holder
                    span.small-title locked dcr
                    span.big-details(style="font-size: 38px; line-height: 45px;letter-spacing: -3px;white-space: nowrap;") {{ locked }}
                      span.smaller-text &nbsp;DCR

          //div.clearfix


    div.row(ng-cloak, style="padding-top: 10px")
    div.col-xs-4.map-holder
      table.table.table-striped
        thead
          tr.text-info
            th.th-nodename
              i.icon-network(data-toggle="tooltip", data-placement="top", title="Country, City", ng-click="orderTable(['info.name'], false)")
            th.th-nodetype
              i.icon-laptop(data-toggle="tooltip", data-placement="top", title="IP", ng-click="orderTable(['info.node'], false)")
            th.th-latency
              i.icon-clock(data-toggle="tooltip", data-placement="top", title="Node latency", ng-click="orderTable(['stats.latency'], false)")
            th
              i.icon-block(data-toggle="tooltip", data-placement="top", title="Last block")
            th
              i.icon-mining(data-toggle="tooltip", data-placement="top", title="Software version")
        tbody(ng-cloak)
          tr(ng-repeat='node in peers | orderBy:id track by node.id', class="", id="node_{{node.id}}")
            td.text-success
              div.small {{ node.geo.country + (node.geo.city ? ', ' + node.geo.city : '') }}
            td.text-success
              span.small {{ node.addr }}
            td(class="{{ node.lastsend | latencyClass : node.lastrecv }}")
              span.small {{ (node.lastrecv - node.lastsend >= 0) ? node.lastrecv - node.lastsend : 0 }} sec
            td(class="{{ node.currentheight | blockHeight : bestBlock }}") # {{ node.currentheight }}
            td
              span.small {{ node.subver }}

    div.col-xs-4.map-holder
      //- div.col-xs-12
      nodemap#mapHolder(data="map")

